@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(4, 36, 53);
  height: 100vh;
}

.container {
  width: 100%;
  padding: 20px 20px;
  color: #fff;
  font-size: 30px;
}

.list {
  margin: 0 auto;
  list-style-type: none;
}

.list a {
  color: #fff;
  font-size: 40px;
}

.list a:hover {
  color: rgb(54, 219, 244);
}

.list li {
  margin: 40px 20px;
  border-bottom: solid 3px rgb(54, 219, 244);
}